<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sprintero</title>
  <meta name="description" content="Sprintero">
  <meta name="author" content="trurl.it">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <style type="text/css">
        body {
            background-color: #000000;
            color: #2fba35;
        }
        .main-div {
            text-align: center;
        }
        img {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="main-div">
        <h2>SPRINTERO</h2>
        <h4>Your sprint name generator</h4>
        <p>
            <a href="https://slack.com/oauth/authorize?scope=commands+team%3Aread&client_id={{ client_id }}"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>
        </p>

        <img src="https://lh6.googleusercontent.com/3r_yQqDy02zsGBAtWVB5oc14XHJCeQlku2nfjS-Q0F-2K0f2ZZ-BzJ4dyVe1hRKHYQqUtcPEiK7bnbw=w1920-h985"/>
    </div>
</body>
</html>