<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sprintero</title>
  <meta name="description" content="Sprintero">
  <meta name="author" content="trurl.it">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <style type="text/css">
        body {
            background-color: #000000;
            color: #2fba35;
        }
        .main-div {
            text-align: center;
        }
        img {
            margin: 10px;
        }
    </style>
</head>

<body>
    <div class="main-div">
        <h2>SPRINTERO</h2>
        <h4>Your installation is sucessful</h4>
        <p>
            Go to your <a href="https://{{ team_domain }}.slack.com">Slack Team page</a>.
        </p>
    </div>
</body>
</html>