<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Sprintero</title>
  <meta name="description" content="Sprintero">
  <meta name="author" content="trurl.it">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <style type="text/css">
        body {
            background-color: #000000;
            color: #2fba35;
        }
        .main-div {
            text-align: center;
        }
        img {
            margin: 10px;
        }

        pre {
            color: #ffa841;
        }
    </style>
</head>

<body>
    <div class="main-div">
        <h2>SPRINTERO</h2>
        <h4>Your installation is sucessful</h4>

        <h4>Type:</h4>

        To get help:
        <pre>/sprintero help</pre>

        To get random name:
        <pre>/sprintero</pre>

        And here is the result:
        <br/>
        <img src="/static/sprintero.png"/>
        <br/>
        Hope you will enjoy it.
        <p>
            Go to your <a href="https://{{ team_domain }}.slack.com">Slack Team page</a>.
        </p>
    </div>
</body>
</html>